@import url("https://fonts.googleapis.com/css2?family=Changa&family=Monoton&display=swap");
/* NAV BAR */
@keyframes logo-change {
  0% {
    color: white;
  }
  50% {
    color: red;
    letter-spacing: 3px;
  }
  100% {
    color: white;
  }
}

@keyframes zoom {
  from {
    font-size: 20px;
  }
  to {
    font-size: 40;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: black;
  overflow-x: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  font-family: "Changa", sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.653), rgba(0, 0, 0, 0));
  color: white;
  height: 50px;
  position: fixed;
  z-index: 1;
  transition: 500ms;
}

.logo {
  width: 50px;
  margin-left: 20px;
  width: 250px;
  transform: logo-change(1);
  animation: logo-change 4s ease-in-out alternate;
  animation-iteration-count: infinite;
  font-family: "Monoton", cursive;
  text-align: center;
  font-size: 30px;
}

.logo:hover {
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  gap: 0px;
  position: relative;
}

.search-button {
  background-color: transparent;
  border: none;
  color: red;
  position: absolute;
  right: 3px;
  cursor: pointer;
  margin-top: 4px;
  z-index: 1;
}

.search-input {
  margin-top: 5px;
  height: 22px;
  width: 250px;
  background-color: transparent;
  border: red solid 2px;
  animation-name: fadeIn;
  animation-duration: 1000ms;
  color: white;
  border-radius: 0px;
  padding-left: 3px;
}

.nav-bar-right {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.nav-bar-right p {
  transition: 500ms;
}

.nav-bar-right p:hover {
  cursor: pointer;
  color: red;
}

/* Home */

.home {
  margin-bottom: 50px;
}

.home video {
  width: 100vw;
  height: 900px;
  margin-top: -125px;
}

.movie {
  position: absolute;
  margin-top: -400px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.movie img {
  width: 300px;
}

.movie-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.movie-buttons button {
  width: 150px;
  height: 40px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.255);
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.movie-buttons button:hover {
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.86);
}

.add-movie {
  position: absolute;
  margin: 56px 0 0 12px;
  width: 350px;
  height: 200px;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.674);
  border: red solid 1px;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.add-movie input {
  height: 30px;
  width: 320px;
  background-color: transparent;
  border: solid red 1px;
  color: white;
  padding-left: 15px;
  box-sizing: border-box;
}

.add-movie button {
  width: 130px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.142);
  color: white;
  border-radius: 5px;
  border: white 1px solid;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.add-movie button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.877);
  color: black;
}

.add-movies-buttons {
  display: flex;
  gap: 10px;
}
.form {
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.addmovie-logo {
  position: absolute;
  margin: 6px 0px 0px -30px;
  font-size: 20px;
  color: red;
}

.fa-plus {
  transition: 500ms;
}
.fa-plus:hover {
  rotate: 90deg;
}
/* Movies Container */

.movies-title {
  font-weight: 400;
  color: red;
  margin: -130px 0px 0 690px;
  font-size: 30px;
  font-family: "Monoton", cursive;
}

.movies-container {
  width: 98vw;
  height: 500px;
  margin-left: 6.5px;
  margin-top: 50px;
}

/* Movie cart */
.movie-cart {
  width: 288.7px;
  height: 150px;
  display: flex;
  color: white;
  font-size: 10px;
  align-items: center;
  opacity: 0.8;
  transition:500ms;
  filter: grayscale(80%);
}

.movie-cart:hover {
  transform: scale(1.4);
  filter: grayscale(0%);
  opacity: 1;
  cursor: pointer;
  
}

.movie-cart img {
  height: 100%;
  width: 100%;
}

.movie-hover:hover{
  z-index: 1;
}

.button-start {
  position: absolute;
  margin-left: 120px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.829);
  background-color: rgba(255, 255, 255, 0.838);
}

.movie-section {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.Movie-desc {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.938);
  border: 0.1px solid rgba(255, 255, 255, 0.307);
  width: 800px;
  height: 600px;
  left: 25%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  z-index: 2;
}

.Movie-desc video {
  width: 790px;
}

.Movie-desc Button {
  background-color: transparent;
  border: solid 1px red;
  color: red;
  width: 30px;
  height: 30px;
  font-size: 20px;
  position: absolute;
  right: 3px;
  top: 3px;
}
